<div class="container">
    <meta charset="utf-8" />
    <div class="row">
        <div class="col text-center">
            <h1 class="text-primary">Juego de Mayor-Menor</h1>

            <h2 class="text-primary">Puntos: {{this.puntos}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">

            <img src="../../../../assets/mayor_menor/{{this.numero}}.jpg" class="ahorcado-img" height="300px"
                width="300px" />

            <div *ngIf="this.mostrarCargando">

                <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-dark" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>

            </div>
        </div>


    </div>

    <div class="row">
        <div class="col text-center">
            <button *ngIf="!this.mostrarCargando" (click)="numeroMenor()" class="btn btn-primary">
                << Menor</button>
        </div>


        <div class="col text-center">
            <button *ngIf="!this.mostrarCargando" (click)="numeroMayor()" class="btn btn-primary">Mayor >></button>
        </div>
    </div>
    <div class="row" *ngIf="gano">
        <div class="col text-center">
            <h1 class="text-success">Felicidades! Ganaste!!! Sumaste un punto!!! :D</h1>
        </div>
    </div>
    <div class="row" *ngIf="perdio">
        <div class="col text-center">
            <h3 class="text-danger">Lo siento :( Perdiste!</h3>
        </div>
    </div>

</div>